.main {
  display: flex;
  background-color: #4d4d4d;
  height: 325px;
  padding: 100px 37px 100px 37px;
}

.about {
  display: flex;
  justify-content: start;
  margin-left: -20px;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-right: 92px;
}

.aboutText {
  padding-right: 10%;
  width: 40%;
  height: 125px;
  font-size: 13px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  color: #6a6a6a;
}

.footerMenu {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.footerMenu p {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #6a6a6a;
}

.footerSocial {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: ;
}

.footerSocial p {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #6a6a6a;
}

li {
  color: #bfbfbf;
  font-size: 13px;
  list-style-type: none;
  line-height: 1.5;
  padding: 2px 0px 2px 0px;
}

input {
  font-family: inherit;
  width: 100px;
  background-color: #6a6a6a;
  border-style: solid;
  box-sizing: border-box;
  color: rgb(245, 245, 245);
  cursor: text;
  display: inline-block;
  border-color: rgb(128, 128, 128);
  font-size: 12px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: 30px;
  letter-spacing: normal;
  line-height: 18px;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 21px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: 150px;
  word-spacing: 0px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 12px;
  color: white;
  opacity: 1; /* Firefox */
}
